
@{
    ViewData["Title"] = "FutureUpdates";
}

<h1>Future Updates</h1>


<ol>
    <ul>Add Unit Tests</ul>
    <ul>SonarCloud Code Review Implementation</ul>
    <ul>Ability to add Video Review</ul>
    <ul>Have some Associate Privacy</ul>
    <ul>Add better error messages</ul>
</ol>
