@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Max RevaPower</h1>
    <p>See our <a asp-area="" asp-controller="Home" asp-action="Privacy"> About Us page</a>.</p>
</div>
