@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h5><u>The Creators</u></h5>
<ol>
    <ul>Name: Cesar Morales</ul>
    <ul>Hometown: Houston, TX</ul>
    <ul>Fun Fact: I like to watch MCU movies</ul>
</ol>
<ol>
    <ul>Name: John Bolton </ul>
    <ul>Hometown: Austin, TX</ul>
    <ul>Fun Fact: I own a dog</ul>
</ol>
<ol>
    <ul>Name: Kolby McDaniel</ul>
    <ul>Hometown: Tallahassee, FL</ul>
    <ul>Fun Fact: I like to play League of legends </ul>
</ol>
<ol>
    <ul>Name: James "JP" Embrey</ul>
    <ul>Hometown: Lexington, KY</ul>
    <ul>Fun Fact: I enjoy fitness, gaming, and working with multimedia and technology. </ul>
</ol>


